pharosArt/obj/Debug/

pharosArt/obj/release/

pharosArt/App_Data/Models/

pharosArt/App_Data/Temp/ExamineIndexes/External/

pharosArt/App_Data/Temp/ExamineIndexes/Internal/

pharosArt/App_Data/Temp/ExamineIndexes/InternalMember/

pharosArt/App_Data/Logs/

pharosArt/App_Data/NuGetBackup/

pharosArt/App_Data/Cache/

pharosArt/App_Data/umbraco.config

!pharosArt/App_Data/Temp/ExamineIndexes/External/keepfolder.txt

!pharosArt/App_Data/Temp/ExamineIndexes/internal/keepfolder.txt

!pharosArt/App_Data/Temp/ExamineIndexes/InternalMember/keepfolder.txt

!pharosArt/App_Data/Models/models.hash

!pharosArt/App_Data/Models/ood.flag