@using pharosArt.Controllers
@model pharosArt.Models.UploadImageModel
           
@using (Html.BeginUmbracoForm<UploadImageController>("Post", FormMethod.Post, new { id = "upload-profile" }))
{
    @Html.HiddenFor(x => x.ProfileFolder)
    @Html.HiddenFor(x => x.MemberId)

    <p><input type="file" name="UploadFile" id="UploadFile"></p>
    <p><img id="edit-image-result" src="@Model.ProfileImage.GetCropUrl("Profile")" /></p>

    <p><button class="button" value="Upload image" type="submit" >Upload image</button></p>
    <p><span id="image-error"></span></p>
}

