@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web.Models
@{
    var currentImageNumber = 1;
}

@if (CurrentPage.HasValue("slideImg"))
{
    var typedMultiMediaPicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("slideImg");
    var numberOfImages = typedMultiMediaPicker.Count();

    <div class="fotorama" data-nav="thumbs" data-loop="true" data-keyboard="true" data-fit="scaledown">
        @foreach(var image in typedMultiMediaPicker)
        {
            <img src="@image.Url" data-caption="@currentImageNumber/@numberOfImages"/>
            currentImageNumber++;
        }
    </div>
}
