@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web.Models
@{
    var currentImageNumber = 1;
    var rootFolder = Model.MacroParameters["mediaFolder"];
    var s = Umbraco.TypedMedia(rootFolder);
}


@if (s != null && s.Children.Any(x => x.DocumentTypeAlias == "Image"))
{
    <div class="fotorama" data-nav="thumbs" data-height="600" data-loop="true" data-keyboard="true" data-fit="scaledown">
        @foreach (var image in s.Children.Where(x => x.DocumentTypeAlias == "Image"))
        {
            <img src="@image.Url" data-caption="@currentImageNumber/@s.Children.Count(x => x.DocumentTypeAlias == "Image")" />
            currentImageNumber++;
        }
    </div>
}
