@model Umbraco.Web.PublishedContentModels.File
@{
    var memberId = Model.Ancestor<ParentFolder>().Member.Id;
}

@Html.Partial("Home/_AudioPartial", Model)

<div class="text-wrapper">
    <div class="article-title">
        <a class="profile-link" href="/showprofile?id=@memberId"></a>
    </div>
    <div class="additional-info">
        @Model.UpdateDate.ToString("dd MMM yyyy") &#183;
        <a href="/music">Music</a>

    </div>
</div>