@model Umbraco.Web.PublishedContentModels.File

<a class="fancy-box-image" href="@Model.Url" >
    <img src="http://dreamatico.com/data_images/music/music-1.jpg" style="width:250px;position:relative;height:223px;" />
    <audio controls style="width:250px;">
        <source src="@Model.Url" type="audio/mpeg">
    </audio>
</a>