@model Umbraco.Web.PublishedContentModels.File

<a class="ajax" href="/umbraco/surface/GetContent/GetById?id=@Model.Id" id="@Model.Id">
    <div class="thumbnail-hover-overlay">
        <div class="animate-flicker">
            <i class="fa fa-search-plus" aria-hidden="true"></i><span>&nbsp;&nbsp;Enlarge</span>
        </div>
    </div>
    <div class="image-wrapper audio-wrapper">
        <i class="fa fa-headphones" aria-hidden="true"></i>
    </div>
</a>