@model ContentImage

<a class="fancy-box-image" href="@Model.Url" id="@Model.Id">
    <div class="thumbnail-hover-overlay">
        <div class="animate-flicker">
            <i class="fa fa-search-plus" aria-hidden="true"></i>
        </div>      
    </div>
    <div class="image-wrapper">
        <img src=@Model.GetCropUrl("Profile")>
    </div>
</a>
