@model IDictionary<int, pharosArt.Models.LandingPageModel>

<div class="content articles-wrapper">
    @foreach (var item in Model)
    {
        <div class="small-article">
            <div class="artcile">
                @Html.Partial("~/Views/Partials/Home/_ArticleThumbnailPartial.cshtml", item.Value.Media)
            </div>
        </div>
    }
</div>