@using pharosArt.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@section scripts{
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
        (function () {
            $('#upload-profile').ajaxForm({
                complete: function (xhr) {
                    var object = $.parseJSON(xhr.responseText);
                    if (object.Item1 == "OK") {
                        $("#edit-image-result").attr("src", object.Item2);
                        $("#image-error").hide();
                    } else {
                        $("#image-error").html(object.Item2);
                    }
                }
            });

        })();
    </script>
}
@if (Umbraco.MemberIsLoggedOn())
{
    <div class="row">
        <div class="col-md-4">
            @Html.Action("Get", "UploadImage", new { memberId = Members.GetCurrentMemberId() })
        </div>
        <div class="col-md-6">
            @Html.Action("EditProfile", "Profile", new { id = Members.GetCurrentMemberId() })
        </div>
    </div>
}
else
{
    <p>Please log in</p>
}


