@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<EventPage>
@{
	Layout = "Master.cshtml";
}
@section header{
   <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
}
@section scripts{
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
}

@CurrentPage.GetGridHtml(Html, "mainBody")
<br/><br/>

<div class="row">
    <div class="col-md-12">
        @if (!string.IsNullOrEmpty(Model.Content.Author))
        {
            <p class="author">By @Model.Content.Author</p>
        }
        <p class="author">@Model.Content.EventTime.ToString("f")</p>
    </div>
</div>
