@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>


@* the fun starts here *@

<h><b>@CurrentPage.title</b></h><br /><br />

@if(string.IsNullOrWhiteSpace(CurrentPage.author) == false){
    <p>Photography by @CurrentPage.author</p><br /><br />
}

@CurrentPage.GetGridHtml(Html, "gridContent")