@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<h><b>@CurrentPage.title</b></h><br /><br />

@if(string.IsNullOrWhiteSpace(CurrentPage.author) == false){
    <p>Photography by @CurrentPage.author</p><br /><br />
}

@CurrentPage.GetGridHtml(Html, "gridContent")