@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@section scripts
{
    <script src="~/scripts/site.js"></script>
    <script src="/scripts/magnific-popup.js"></script>
    <script type="text/javascript" src="jPlayer/js/jquery.transform2d.js"></script>
    <script type="text/javascript" src="jPlayer/js/jquery.grab.js"></script>

    <script type="text/javascript" src="jPlayer/js/mod.csstransforms.min.js"></script>
    <script type="text/javascript" src="jPlayer/js/circle.player.js"></script>
    <script type="text/javascript" src="owlCarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/scripts/InfiniteScroll.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancy-box-image").colorbox({
                rel: 'fancy-box-image',
                scalePhotos: true,
                maxWidth: "90%",
                maxHeight: '90%'
            });
            // Increase view count for this item
            $(document).bind('cbox_complete', function () {
                var id = $.colorbox.element()[0].id;
                increaseStatistic(id);
            });
            // Stop the music when user closes the modal window
            $(document).bind('cbox_closed', function () {
                $("#jquery_jplayer_1").jPlayer("stop");
                $("#jquery_jplayer_2").jPlayer("stop");
            });
            $(".ajax").colorbox({
                rel: 'fancy-box-image'
            });

            $(".owl-carousel").owlCarousel({
                nav: true,
                responsiveClass: true,
                navText: ["<i class='fa fa-arrow-circle-left' aria-hidden='true'></i>", "<i class='fa fa-arrow-circle-right' aria-hidden='true'></i>"],
                responsive: {
                    0: {
                        items: 1
                    },
                    402: {
                        items: 3
                    },
                    640: {
                        items: 5
                    }
                }
            });
        });

        $('#search-box').on('keyup', function (e) {
            var content = $(this).val();
            var link = "/search" + "?q=" + content;
            if (e.keyCode === 13) {
                window.location.href = link;
            }
        });

        var moreRowsUrl = "@Url.Action("GetItems", "LandingPage")";
        $("#load-more-items").on("click", function (event) {
            event.preventDefault();
            loadMoreToInfiniteScrollTable(moreRowsUrl);
        });
    </script>
}
@section header
{
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="owlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlCarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/video.css">
    <script type="text/javascript" src="jPlayer/js/jquery.jplayer.js"></script>
}
<div class="row">
    <div class="col-md-12 search search-input">
        <i class="fa fa-search"></i>
        <input type="search" placeholder="Search" class="search-bar" id="search-box">
    </div>
</div>

<div class="small-posts-container owl-carousel transition">
    @Umbraco.RenderMacro("FeaturedHomePageSmall")
</div>

<div class="large-posts-container">
    @Umbraco.RenderMacro("FeaturedHomePageLarge")
</div>
<div class="content articles-wrapper" id="home-grid">
    @Html.Action("GetItems", "LandingPage")
</div>
<div class="button-container">
    <button id="load-more-items" class="button">Load more items</button>    
</div>



