@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@section scripts
{
    <script src="~/scripts/site.js"></script>
    <script src="/scripts/magnific-popup.js"></script>
    <script type="text/javascript" src="jPlayer/js/jquery.transform2d.js"></script>
    <script type="text/javascript" src="jPlayer/js/jquery.grab.js"></script>
    <script type="text/javascript" src="jPlayer/js/jquery.jplayer.js"></script>
    <script type="text/javascript" src="jPlayer/js/mod.csstransforms.min.js"></script>
    <script type="text/javascript" src="jPlayer/js/circle.player.js"></script>

    <script>
        $(document).ready(function () {
            $(".fancy-box-image").colorbox({
                rel: 'fancy-box-image',
                scalePhotos: true,
                maxWidth: "90%"
            });
            // Increase view count for this item
            $(document).bind('cbox_complete', function () {
                var id = $.colorbox.element()[0].id;
                increaseStatistic(id);
            });
            // Stop the music when user closes the modal window
            $(document).bind('cbox_closed', function () {
                $("#jquery_jplayer_1").jPlayer("stop");
            });
            $(".ajax").colorbox();
        });

    </script>
}
@section header
{
    <link rel="stylesheet" href="/css/popup.css">
}
<div class="row">
    <div class="col-md-12 search search-input">
        <i class="fa fa-search"></i>
        <input type="search" placeholder="Search" class="search-bar">
    </div>
</div>
<div style="text-align:center;">
    @{
        var typedMultiNodeTreePicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("contentPicker");
        foreach (var item in typedMultiNodeTreePicker)
        {
            var content = Umbraco.NiceUrl(Int32.Parse(item.ToString()));
            var imgFront = Int32.Parse(item.GetPropertyValue("Thumbnail").ToString());
            var img = Umbraco.Media(imgFront);
            <a href="@content">
                <img src="@img.url" /><br />
            </a>
            <br /><br />
        }
    }
</div>

@CurrentPage.body
@Html.Action("ShowUploadedImages", "LandingPage")


