@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@section scripts
{
    <script src="~/scripts/site.js"></script>
    <script src="/scripts/magnific-popup.js"></script>

    <script>
        $(document).ready(function () {
            $(".fancy-box-image").colorbox({
                rel: 'fancy-box-image',
                scalePhotos: true,
                maxWidth: "90%"
            });
            $(document).bind('cbox_complete', function () {
                var id = $.colorbox.element()[0].id;
                increaseStatistic(id);
            });
        });

    </script>
}
@section header
{
    <link rel="stylesheet" href="/css/popup.css">
}
<div class="row">
    <div class="col-md-12 search search-input">
        <span style="margin-left:6em;" class="fa fa-search"></span>
        <input type="search" placeholder="Search">
    </div>
</div>
<div style="text-align:center;">
    @{
        var typedMultiNodeTreePicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("contentPicker");
        foreach (var item in typedMultiNodeTreePicker)
        {
            var content = Umbraco.NiceUrl(Int32.Parse(item.ToString()));
            var imgFront = Int32.Parse(item.GetPropertyValue("Thumbnail").ToString());
            var img = Umbraco.Media(imgFront);
            <a href="@content">
                <img src="@img.url" /><br />
            </a>
            <br /><br />
        }
    }
</div>

@CurrentPage.body


@Html.Action("ShowUploadedImages", "LandingPage")


