@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Join>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}
<style>
    .join-form { 
        color: #fff;
        position: relative;
        top: 30%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;

    }
    .join-form h1 {
        font-size: 110px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: -.01em;
        line-height: 1em;
        text-transform: none;
        margin: 0;
        margin-bottom: 20px;
    }
    .join-form h3 {
        font-size: 20px;
        line-height: 1.4em;
        text-transform: none;
        letter-spacing: .04em;
        font-weight: 400;
    }
    .join-form div {
        margin-bottom: 55px;
        font-size: 20px;
        line-height: 1.4em;
        letter-spacing: .04em;
        font-weight: 400;
        
    }
    .join-form a {
        border: 2px solid #fff;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2.8px;
        line-height: 14px;
        padding: 12px 14px;
        text-transform: uppercase;
        -webkit-transition-duration: 0.5s; /* Safari */
        transition-duration: 0.5s;
    }
    .join-form a:hover {
        background:rgba(255, 255, 255, 0.55);
        color:#000;
        font-weight: 700;
    }
    <style>
    div#banner-wrapper {
         display: none;
     }

    button {
        border: 2px solid;
        background: transparent;
        margin: 12px;
        margin-left: 0;
        padding: 6px;
        width: 100px;
        font-weight: bold;
        text-transform: uppercase;
        -webkit-transition-duration: 0.5s; /* Safari */
        transition-duration: 0.5s;
        margin-top: 29px;
    }

    button:hover {
        color: #fff;
        background: #000;
        border: 2px solid;
    }

    input#Username {
        border: 0;
        background: transparent;
        border-bottom: 2px solid;
        padding: 5px;
        font-family: Open Sans;
    }

    input#Password {
        border: 0;
        background: transparent;
        border-bottom: 2px solid;
        padding: 5px;
        font-family: Open Sans;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
    }

    label {
        text-transform: uppercase;
        padding: 10px;
        padding-left: 0;
        margin-top: 10px;
    }
</style>
</style>
<!DOCTYPE html>
<html>
    <head >
    </head>
    <body style="background: url(../media/1007/scanplus3.jpeg) center center no-repeat; background-size: cover; min-height: 100vh; overflow: hidden;">
        <div class="container join-form">
            <h1>Join Pharos</h1>
            <h3>Want to see your work here?</h3>
            <div>Be featured online and represented as a contributor of Pharos.</div>
            @Html.Action("GetRegistration", "Registration")
            @*<a href="https://docs.google.com/forms/d/e/1FAIpQLSeT2RNiCcX7QXfL-GkEVXNZWyjKROwspia1-pHgo0hEU3EF_Q/viewform" target="_blank">Sign up</a>*@
        </div>
    </body>
</html>