@inherits UmbracoTemplatePage
@using pharosArt.Controllers
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<div>
    @if (Umbraco.MemberIsLoggedOn())
    {
        Response.Redirect(AppHelper.GetHomeNode().ProfilePage.Url);
    }
    else
    {
        Html.RenderAction("RenderLogin", "Login");
    }
</div>
@*@section header{
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    
}*@

