@inherits UmbracoTemplatePage
@using pharosArt.Controllers
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<style>
    div#banner-wrapper {
        display: none;
    }

    button {
        border: 2px solid;
        background: transparent;
        margin: 12px;
        margin-left: 0;
        padding: 6px;
        width: 100px;
        font-weight: bold;
        text-transform: uppercase;
        -webkit-transition-duration: 0.5s; /* Safari */
        transition-duration: 0.5s;
        margin-top: 29px;
    }

        button:hover {
            color: #fff;
            background: #000;
            border: 2px solid;
        }

    input#Username {
        border: 0;
        background: transparent;
        border-bottom: 2px solid;
        padding: 5px;
        font-family: Open Sans;
    }

    input#Password {
        border: 0;
        background: transparent;
        border-bottom: 2px solid;
        padding: 5px;
        font-family: Open Sans;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
    }

    label {
        text-transform: uppercase;
        padding: 10px;
        padding-left: 0;
        margin-top: 10px;
    }
</style>
<div>
    @if (Umbraco.MemberIsLoggedOn())
    {
        Response.Redirect(AppHelper.GetHomeNode().ProfilePage.Url);
    }
    else
    {
        Html.RenderAction("RenderLogin", "Login");
    }
</div>
@section header{
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="https://apis.google.com/js/api:client.js"></script>
}

