@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Slide>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
	var n = @Model;
    if(!String.IsNullOrEmpty(n.slide))
    {<p>hello</p>}
}