@using pharosArt.Controllers
@using Member = Umbraco.Web.PublishedContentModels.Member
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- Dependency -->
@section scripts{
    <script src="~/scripts/dropzone.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        $('.cat').change(function () {
            if (this.checked) {
                appendCat($(this).val());
            } else {
                removeCat($(this).val());
            }

        });
        Dropzone.options.myAwesomeDropzone = {
            createImageThumbnails: false,
            dictDefaultMessage: "Drop files here to upload or click to chose a file",
            init: function () {
                this.on("drop", function (e) {
                    $(".loader").css("display", "block");
                });
                this.on("error", function (file) {
                    $(".loader").hide();
                    $("#progress").html("<p class='warning'>Internal error. Please try again later.</p>");
                });
                //this.on("uploadprogress", function (file) {
                //    $("#uploading").html("Uploading file: " + file.name);
                //});
                this.on("totaluploadprogress", function (file) {
                    $("#progress").html("Upload progress: " + file.toString().substring(0, 4) + "%");
                });
                this.on("queuecomplete", function (file) {
                    $(".loader").hide();
                    $("#progress").html("Upload is complete");
                });
            }
        };

        var removeCat = function (cat) {
            $("#categories").val($("#categories").val().replace(cat + ",", ""));
        }
        var appendCat = function (cat) {
            $("#categories").val($("#categories").val() + cat + ",");
        }
    </script>
}
@section header{

    <link href="~/css/dropzone.css" rel="stylesheet" />
}
@{
    Layout = "Master.cshtml";

    var categories = AppHelper.GetCategories();
    var member = new Member(Members.GetCurrentMember());
}

<h2>1. Select categories</h2>
<div class="checkboxes">
    <ul>
        @foreach (var category in categories)
        {
            <li><input type="checkbox" class="cat" name="@category" value="@category" />@category</li>
        }
    </ul>
</div>
<br />
<h2>2. Upload files</h2>
<p>The name of the file will appear on the site, so make sure it's cleaned up before uploading.</p>
<form action="/umbraco/surface/contentupload/uploadcontent"
      class="dropzone"
      id="my-awesome-dropzone">
    @Html.Hidden("targetRootFolder", member.MediaRoot.Id)
    <input type="text" hidden="hidden" id="categories" name="categories" />
</form>
<div class="loader"></div>
<span id="progress"></span>
<p class="warning" id="responseMessage"></p>
