@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- Dependency -->
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>
@{
	Layout = "Master.cshtml";
	
	var categories = CurrentPage.AncestorOrSelf(1).Descendants("Menu");
}


         <input type="file" name="FileUpload" id="FileUpload" multiple >
         
         @foreach(var category in categories) {
            <input type="checkbox" name="@category.Name" value="@category.Name" />@category.Name
         }
  <!--  <input type="button" id="Upload" value="Upload" /> -->
        <p id="responseMessage"></p>
<!-- on button click clear input, after sending ,and if success , display text that it was delivered, if error - same :D-->



<script>
$("#FileUpload").on("change", function(e) {
   var files = e.target.files;
   var myID = 3;
   if(files.length > 0) {
       
       if(window.FormData !== undefined) {
           
           var data = new FormData();
           for (var x = 0; x < files.length; x++) {
               data.append("file" + x, files[x]);
           }
           var categories = [];
           
           $('input[type="checkbox"]:checked').each(function() {
               categories.push($(this).val());
           });
           
           var imgor = '@Url.Action("UploadImage","ImageUpload")';
           console.log("amazing");
           $.ajax({
               type: "POST",
               url: imgor ,/*?id=' + myID,*/
               contentType: false,
               processData: false,
               data: data,
               success: function(result) {
                   console.log(result);
                   $("#responseMessage").text("Successfully uploaded.")
               },
               error: function( xhr, status, p3, p4) {
                   var err = "Error " + " " + status + " " + p3 + " " + p4;
                   if(xhr.responseText && xhr.responseText[0] == "{")
                       err = JSON.parse(xhr.responseText).Message;
                   $("#responseMessage").text("Error - Couldn't uploaded.")
                    console.log(err);
               }
           });
           console.log("semi amazing");
       } else {
           
           console.log("This browser doesn't support HTML5 file uploads!");
       }
   }
    
});

</script>