@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{

    var CurrentPage = Umbraco.Content(umbraco.NodeFactory.Node.GetCurrent().Id);
    var bannerTitle = (!String.IsNullOrEmpty(CurrentPage.bannerTitle) ? CurrentPage.bannerTitle : CurrentPage.title);
}
@if (CurrentPage.image != null && !(CurrentPage.image is Umbraco.Core.Dynamics.DynamicNull))
{
    <div id="banner-wrapper" style="background-image: url(@Umbraco.Media(Model.Content.GetPropertyValue("image").ToString()).Url)">
        <div class="banner-overlay"></div>
        <div class="banner-headlines">
            <h1 id="banner-title">@bannerTitle</h1>
            @if (Model.Content.HasValue("subtitle"))
            {
                <h2 class="banner-subtitle">@Model.Content.GetPropertyValue("subtitle")</h2>
            }
        </div>
    </div>
}