<ul id="socialmedia_menu">
    <li>
        <a href="https://twitter.com/pharoslondon" target="_blank">
            <img src="http://pharoslondon.co.uk/media/1020/twitter_logo.png" height="20" width="20" />
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/Pharos-377810605733832/timeline/" target="_blank">
            <img src="http://pharoslondon.co.uk/media/1021/facebook_logo.png" height="18" width="18" />
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/pharoslondon/" target="_blank">
            <img src="http://pharoslondon.co.uk/media/1023/instagram_logo.png" height="18" width="18" />
        </a>
    </li>
</ul>